#page {
  width: 90vw;
  height: 90vh;
  position: relative;
}

#cover-container {
  width: 550px;
  height: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

button.connection {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
}

#init {
  margin-right: 40px;
}

#prompt {
  position: absolute;
  left: 50%;
  top: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none; 
  /* -webkit-appearance: none;
  margin: 0; */
  /* <-- Apparently some margin are still there even though it's hidden */
}

input {
  margin-bottom: 15px;
}







