#page {
  width: 90vw;
  height: 90vh;
  position: relative;
}

#cover-container {
  width: 550px;
  height: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

button.connection {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
}

#init {
  margin-right: 40px;
}



